* {
  margin: 0;
  padding: 0;
}

.app__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  background-color: #9933ff;
  color: #fff;
}

.app__title {
  font-size: 1.5rem;
}
